.projects {
  padding: 20px 0;
}
.proImg {
  height: 200px;
  width: auto;
  margin-top: 10px;
  border-radius: 10%;
}
.proImg:hover {
  transform: scale(1.07);
  transition: 1s ease-out;
}
.proTitle {
  margin: 20px 0;
}

.btn {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  /* display: inline-block; */
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: blue;
  border: 2px solid blue;
  text-decoration: none;
}

.btn:hover {
  background: blue;
  color: #fff !important;
}
